<div class="col-md-4">
    <div class="card my-3 border-0 custom-card">
        <h4 class="text-center mt-2 mb-0">Последние посты</h4>
        {% for post in latest_posts %}
            <div class="card-body">
                <img src="{{ post.images.url }}" alt="pic" class="card-img-top mb-1">
                <h4 class="card-title fw-bold mb-2 fs-20">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h4>
                <p class="card-text d-flex">
                    <small class="text-muted">
                        <span class="d-flex align-items-center mb-1">{{ post.public|date:'M d, Y' }}</span>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog:posts-by-tags' tag.slug %}"
                               class="badge badge-light text-muted fw-light mb-1 tag">{{ tag.name }}</a>
                        {% endfor %}
                    </small>
                </p>
                <p class="card-text fs-15 text">
                    {{ post.snippet }}
                </p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-outline custom-btn">Читать далее</a>
            </div>
        {% endfor %}
    </div>
</div>