{% extends "accounts/_base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% include 'snippets/messages.html' %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-mb-4">
                    <div class="card border-0 p-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3 mt-0">
                                <a class="" href="{% url 'accounts:profile' request.user.username %}">
                                    <i class="fa-solid fa-arrow-left mt-3"></i>
                                    Вернуться назад
                                </a>
                            </div>
                            <div class="card-title">
                                <h2 class="text-center">Редактирование профиля</h2>
                            </div>
                            <hr>
                            <div>
                                <form method="POST" action="{% url 'accounts:edit-profile' profile.user.username %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group my-3">
                                            {{ field }}
                                        </div>
                                        {% if field.errors %}
                                            <div class="alert alert-danger my-3 py-1 fs-15 text-center">
                                                {{ field.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <hr>
                                    <div class="form-group d-flex align-items-center justify-content-center mb-0">
                                        <input class="btn btn-primary mb-0" type="submit" value="Сохранить изменения">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}