{% extends "_base.html" %}
{% load static %}

{% block title %}Профиль{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card col-md-8 my-4 shadow">
                <div class="row">
                    <div class="col-md-4 my-1">
                        <div class="card-body">
                            <img class="img-thumbnail" src="{% static 'images/default.png' %}" alt="profile-img">
                        </div>
                    </div>
                    <div class="col-md-8 my-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="my-0">Your name</h5>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="my-0">{{ user.first_name }}</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="my-0">Your email</h5>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="my-0">{{ user.email }}</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="my-0">Something else</h5>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="my-0">Something</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="my-0">Your username</h5>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="my-0">{{ user.username }}</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-info btn-sm my-1"
                                       href="{% url 'accounts:edit-profile' user.pk %}">Редактировать профиль</a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-info btn-sm my-1"
                                       href="{% url 'accounts:password-change' %}">Сменить пароль</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md my-1">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <h5 class="text-center">
                                        <a href="">
                                            My Posts
                                        </a>
                                    </h5>
                                </div>
                                <div class="col-md-4 m-0">
                                    <h5 class="text-center">
                                        <a href="">
                                            My Followers
                                        </a>
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="text-center">
                                        <a href="">
                                            My Posts
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}