{% extends '_base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-mb-6">
            {% for post in posts %}
                <div class="card mb-2 border-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-body">
                                <img src="{{ post.images.url }}" alt="img-cart" class="img-thumbnail border-0">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-2">
                                    <a href="{{ post.get_absolute_url }}">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <small class="text-muted">
                                    <a href="{% url 'accounts:profile' slug=post.author.username %}" class="me-2">
                                        {{ post.author }}
                                    </a>
                                    <span>{{ post.public|date:'M d, Y' }}</span>
                                    {% for tag in post.tags.all %}
                                        <a href="{% url 'blog:posts-by-tags' tag.slug %}"
                                           class="badge badge-light text-muted">{{ tag.name }}</a>
                                    {% endfor %}
                                </small>
                                <p class="card-text fs-15 mt-2">
                                    {{ post.snippet }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}