{% extends '_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center custom-container">
        <div class="col">
            {% if cat_posts %}
                <h1>{{ category }}</h1>
                {% for post in cat_posts %}
                    <ul>
                        <li>
                            <a href="{% url 'blog:post_details' post.slug %}">
                                {{ post.title }}
                            </a>
                            <br>
                            {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.created }}
                            <br>
                            {{ post.snippet }}
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <h2>Постов на эту тему нет</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
