{% load mptt_tags static %}
<div class="nested-comments">
    {% recursetree post.comments.all %}
        <ul id="comment-thread-{{ node.pk }}">
            <li class="card border-0 custom-card">
                <div class="card-body mb-0">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="{{ node.author.profile.avatar.url }}"
                                 class="custom-card comment-img" alt="{{ node.author }}"/>
                        </div>
                        <div class="col-md-11">
                            <h5 class="card-title mt-0 ms-3">
                                <a href="{% url 'accounts:profile' slug=node.author.username %}">{{ node.author }}</a>
                            </h5>
                            <small class="fs-6 ms-3">{{ node.created }}</small>
                            <p class="card-text mt-2 ms-3">
                                {{ node.content }}
                            </p>
                            <a class="btn btn-sm btn-outline btn-reply custom-btn mb-0 ms-3" href="#commentForm"
                               data-comment-id="{{ node.pk }}"
                               data-comment-username="{{ node.author }}">Ответить
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
            </li>
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </ul>
    {% endrecursetree %}
</div>

{% if request.user.is_authenticated %}
    <form method="post" action="{% url 'blog:comment-create' post.pk %}" id="commentForm" name="commentForm"
          data-post-id="{{ post.pk }}">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-outline custom-btn" id="commentSubmit">Добавить комментарий</button>
        </div>
    </form>
{% endif %}

{% block script %}
    <script src="{% static 'js/comments.js' %}"></script>
{% endblock %}