{% extends '_base.html' %}

{% block title %}Удалить пост{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h3>Удалить пост "{{ post.title }}"?</h3>
            <div class="mb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary">Удалить</button>
                </form>
            </div>
        {% else %}
            Это не ваш пост!
        {% endif %}
    {% else %}
        Чтобы редактировать посты, Вы должны войти в свой профиль.
        <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Войти</a>
    {% endif %}
{% endblock %}