{% extends '_base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 my-3">
            {% for post in posts %}
                <div class="card mb-2" id="first-cart">
                    <div class="card-body">
                        <small>
                            {{ post.author.first_name }} {{ post.author.last_name }} |
                            {{ post.created }}</small>
                        <hr>
                        <h3 class="card-title">
                            <a class="h3" href="{% url 'blog:post_details' post.slug %}">
                                {{ post.title }}
                            </a>
                        </h3>
                        <a class="h6 text-secondary" href="{% url 'blog:category' post.category|slugify %}">
                            <small>
                                {{ post.category }}
                            </small>
                        </a>
                        <hr>
                        {% if post.images %}
                            <div class="col">
                                <img class="card-img-top" src="media/{{ post.images }}" alt="post-img">
                            </div>
                        {% endif %}
                        <p class="card-text mt-3">
                            {{ post.snippet }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 my-3">
            <div class="card mb-2" id="second-cart">
                <div class="card-body">
                    <p class="h3">lksrngkne</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}