{% extends '_base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.created }}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            |
            <small>
                <a href="{% url 'blog:update_post' post.slug %}">
                    Редактировать
                </a>
            </small>
            <small>
                <a href="{% url 'blog:delete_post' post.slug %}">
                    Удалить
                </a>
            </small>
        {% endif %}
    {% endif %}
    <hr>
    <br>
    {% if post.images %}
        <img class="img-thumbnail" src="{{ post.images.url }}" alt="Собака">
    {% endif %}
    {{ post.body|safe }}
    <br>
    <br>
    <a href="{% url 'blog:home' %}" class="btn btn-secondary">Назад</a>
    <br>
    <hr>
    <br>
    {{ total_likes }} Likes
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'blog:like_post' post.id %}" method="post">
            {% csrf_token %}

            {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-small">
                    Не нравится
                </button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-secondary btn-small">
                    Нравится
                </button>
            {% endif %}
        </form>
    {% else %}
        <small><a href="{% url 'accounts:login' %}">Войдите</a>, чтобы
            поставить лайк!</small>
    {% endif %}
{% endblock %}