{% extends '_base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="card-text d-flex align-items-center justify-content-between mb-2">
                            <h4 class="d-flex align-items-center p-0">
                                <a href="{% url 'accounts:profile' username=post.author.username %}">
                                    {{ post.author.first_name }} {{ post.author.last_name }}
                                </a> |
                                {{ post.created|date:'M d, Y' }}
                            </h4>
                            <span>
                                    Комментарии
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <span class="card-text d-flex m-0">
                                <a class="h6 text-secondary" href="{% url 'blog:category' post.category.slug %}">
                                    {{ post.category }}
                                </a>
                        </span>
                        <span>
                            <small class="text-muted m-0">
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'blog:posts-by-tags' tag.slug %}"
                                       class="badge badge-light text-muted fw-light">{{ tag.name }}</a>
                                {% endfor %}
                            </small>
                        </span>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="card-title">
                            <h1 class="display-5 text-center">{{ post.title }}</h1>
                        </div>
                        <img src="{{ post.images.url }}" alt="pic" class="img-thumbnail border-0">
                        <div class="card-text">
                            <p class="text">{{ post.body|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}