<nav class="navbar navbar-expand-xl navbar-dark bg-dark custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:home' %}">REAL BLOG!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown"
                aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarWithDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'blog:category_list' %}">Категории</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:add_post' %}">Добавить пост</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_authenticated %}
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:profile' %}">Профиль</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Мои посты</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:login' %}">Войти</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:signup' %}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


