{% extends '_base.html' %}

{% block content %}
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-8 col-mb-6">
            <h1 class="text-center">Ваш пароль был успешно изменен</h1>
            <hr>
            <p class="text-center">Ваш пароль успешно изменен. Tеперь Вы можете войти на сайт с новым паролем.</p>
            <p class="text-center">
                <a class="btn btn-outline custom-btn" href="{% url 'accounts:login' %}">Войти</a>
            </p>
        </div>
    </div>
{% endblock %}