{% extends 'accounts/_base.html' %}

{% block content %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-mb-4">
                    <div class="card border-0  p-4">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 class="text-center">Смена пароля</h2>
                            </div>
                            <hr>
                            <div>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group my-3">
                                            {{ field }}
                                        </div>
                                        {% if field.errors %}
                                            <div class="alert alert-danger my-3 py-1 fs-15 text-center">
                                                {{ field.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="form-group d-flex align-items-center justify-content-center mb-3">
                                        <input class="btn btn-outline custom-btn" type="submit" value="Сменить пароль">
                                    </div>
                                    <hr>
                                    <div class="text-center text-muted h6 mb-0">
                                        Вернуться на
                                        <a href="{% url 'blog:home' %}">главную</a>
                                        страницу
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}